bin/*
obj/*

Api/Blip.Dealer.Desk.Manager/bin/*
Api/Blip.Dealer.Desk.Manager/obj/*

Api/Blip.Dealer.Desk.Manager.Facades/bin/*
Api/Blip.Dealer.Desk.Manager.Facades/obj/*

Api/Blip.Dealer.Desk.Manager.Models/bin/*
Api/Blip.Dealer.Desk.Manager.Models/obj/*


Api/Blip.Dealer.Desk.Manager.Services/bin/*
Api/Blip.Dealer.Desk.Manager.Services/obj/*